/vendor/
/.env
/package-lock.json
/node_modules/
/resources/assets/bower/vendor/
/resources/assets/css/
/mix-manifest.json
/main.js
/.lock
/bootstrap/cache/
/public/images/uploads/
/public/images/logo.jpg
/public/images/sliders/
/public/css/
